* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto Slab", serif;
    min-width: 320px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 20px;
    border-bottom: 5px solid #16a085;
}

p {
    font-size: 1.5em;
    text-align: left;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    color: #16a085;
}

input {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}

input:focus {
    outline: 2px solid #16a085;
    box-shadow: none;
}

.title {
    text-align: center;
}

#random {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 15px;
    background: #16a085;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    max-width: 200px;
}

#random:hover {
    color: #dfdfdf;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin-top: 20px;
    border-bottom: 5px solid #16a085;
    background: #ecf0f1;
    position: relative;
}

li span {
    display: block;
    font-size: 1.1rem;
}

li a {
    display: block;
    text-decoration: none;
    padding: 20px;
}

.result-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

@media screen and ( max-width: 600px ) {

    main {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
    }

}