body {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
	transition: all 0.5s ease;
}

.clearfix {
    clear: both;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    opacity: 0.5;
}

h1 {
    width: 100%;
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 3px solid #FFFFFF;
}

p {
    font-size: 30px;
    line-height: 1.5;
}

.quote {
    margin-top: 20px;
    text-transform: uppercase;
}

.credit,
.game {
    font-size: 20px;
}

.game {
    font-style: italic;
    margin-bottom: 100px;
}

.quoteBody {
	 position: relative;
    padding: 30px;
    margin: 100px auto;
	 background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 750px;
    border: 3px solid #FFFFFF;
}

.buttons {
	margin: 20px 0 60px;
}

.quotesButton {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.quotesButton:hover {
    cursor: pointer;
}

.quotesButton:focus {
    outline: 1px solid #EEEEEE;
}

.newQuoteButton {
    margin-right: 40px;
}

.tweetButton {
    float: right;
}

.pageAuthor {
	 position: absolute;
	 bottom: 30px;
    font-size: 14px;
    margin: px 0 0 0;
}

.pageAuthor a {
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
}

@media screen and (max-width: 435px) {
    .newQuoteButton,
    .tweetButton {
        display: block;
        margin-bottom: 30px;
    }

	.tweetButton,
	.pageAuthor {
		float: left;
	}
}

