html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #e3e3e3;
    min-width: 320px;
}

main {
    max-width: 960px;
    margin: 60px auto;
    padding: 70px;
    box-sizing: border-box;
    background-color: #ffffff;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 10px auto;
    border-bottom: 10px solid #000000;
    border-top: 10px solid #000000;
}

h1 small {
    display: inline-block;
    height: 100%;
    font-size: 50%;
    margin-bottom: 5px;
    vertical-align: middle;
}

p {
    font-size: 1.5em;
    margin: 20px auto;
}

a:link,
a:visited {
    color: inherit;
}

a:hover {
    color: #f39c12;
}

#location {
    text-transform: uppercase;
    font-weight: bold;
}

#weather-type,
#temperature {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

#icon {
    text-align: center;
}

#icon img {
    width: 80px;
    height: auto;
}

#switch-temp {
    display: block;
    margin: 10px auto 30px auto;
    width: 80px;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: bold;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#switch-temp:hover {
    background: #e3e3e3;
}

#switch-temp:active,
#switch-temp:focus {
    outline: none;
}

p.small {
    font-size: 16px;
}

/* Styles for Weather Icons */

.hidden,
.icon.hidden {
    display: none;
}

.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1.2em; /* control icon size here */
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #ecf0f1;
  border-radius: 50%;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #ecf0f1,
    2.0625em 0.9375em 0 -0.9375em #ecf0f1,
    0 0 0 0.375em #bdc3c7,
    -2.1875em 0.6875em 0 -0.3125em #bdc3c7,
    2.0625em 0.9375em 0 -0.5625em #bdc3c7;
}
.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: #ecf0f1;
  box-shadow: 0 0.4375em 0 -0.0625em #bdc3c7;
}
.cloud:nth-child(2) {
  z-index: 0;
  background: #bdc3c7;
  box-shadow:
    -2.1875em 0.6875em 0 -0.6875em #bdc3c7,
    2.0625em 0.9375em 0 -0.9375em #bdc3c7,
    0 0 0 0.375em #bdc3c7,
    -2.1875em 0.6875em 0 -0.3125em #bdc3c7,
    2.0625em 0.9375em 0 -0.5625em #bdc3c7;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite;
}
.cloud:nth-child(2):after { background: #bdc3c7; }

.mist-cover {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(189, 195, 199, 0.5);
    z-index: 1;
    animation: mist 5s linear alternate infinite;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: #f1c40f;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #f39c12;
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #f39c12;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #f39c12;
}
.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: #f39c12;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #f39c12;
}
.rays:before {
  transform: rotate(120deg);
}
.cloud + .sun {
  margin: -2em 1em;
}

.icon.night {
    background: #2c3e50;
}

.moon {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 4.5em;
  height: 4.5em;
  margin: -2em -0.5em;
  background: transparent;
  border-radius: 50%;
  box-shadow: 1em 1em #fcf2c8;
  z-index: 0;
  transform: rotate(-10deg);
}

.stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.star {
    position: absolute;
    background: #fff;
    width: 0.3em;
    height: 0.3em;
    border-radius: 0.3em;
    box-shadow: 0 0 0 0.3em #fff;
    transform: scale(0.2);
}

.star:nth-child(1) {
    top: 1em;
    left: 1em;
    animation: stars1 2s linear alternate infinite;
}

.star:nth-child(2) {
    top: 2em;
    left: 6em;
    animation: stars2 5s linear alternate infinite;
}

.star:nth-child(3) {
    top: 5em;
    left: 3em;
    animation: stars3 3s linear alternate infinite;
}

.star:nth-child(4) {
    top: 9em;
    left: 1em;
    animation: stars1 4s linear alternate infinite;
}

.star:nth-child(5) {
    top: 4em;
    left: 3.3em;
    animation: stars2 4s linear alternate infinite;
}

.star:nth-child(6) {
    top: 8em;
    left: 9em;
    animation: stars3 2.5s linear alternate infinite;
}

.star:nth-child(7) {
    top: 3em;
    left: 1.8em;
    animation: stars1 3.5s linear alternate infinite;
}

.star:nth-child(8) {
    top: 7em;
    left: 5.3em;
    animation: stars2 3s linear alternate infinite;
}

.star:nth-child(9) {
    top: 1em;
    left: 9em;
    animation: stars3 2s linear alternate infinite;
}

.star:nth-child(10) {
    top: 8em;
    left: 4.6em;
    animation: stars1 3s linear alternate infinite;
}

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent;
}

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #3498db;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow:
    0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
    -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
    -1.375em -0.125em 0 rgba(255,255,255,0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite;
}

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite;
}
.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite;
}
.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg);
}
.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg);
}
.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}
.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #bdc3c7;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse;
}
.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite;
}
.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}
.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse;
}

.night .cloud,
.night .rain,
.night .lightning,
.night .snow {
    top: 40%;
}

.night.cloudy .cloud,
.night.mist .cloud {
    top: 50%;
}

.night.shower .moon {
    top: 30%;
    width: 4.8em;
    height: 4.8em;
}

/* Animations */

.night .flake:before,
.night .flake:after {
    color: #fff;
}

@keyframes stars1 {
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(0.4);
        opacity: 0.7;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: scale(0.3);
        opacity: 0.3;
    }
}

@keyframes stars2 {
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(0.6);
        opacity: 0.7;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: scale(0.3);
        opacity: 0.3;
    }
}

@keyframes stars3 {
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(0.65);
        opacity: 0.7;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: scale(0.3);
        opacity: 0.3;
    }
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes cloud {
  0% { opacity: 0; }
  50% { opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes rain {
  0% {
    background: #3498db;
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #3498db;
  }
  25% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em #3498db,
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.3);
    box-shadow:
      0.625em 0.875em 0 -0.125em #3498db,
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 rgba(255,255,255,0.2);
  }
  100% {
    box-shadow:
      0.625em 0.875em 0 -0.125em rgba(255,255,255,0.2),
      -0.875em 1.125em 0 -0.125em rgba(255,255,255,0.2),
      -1.375em -0.125em 0 #3498db;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #f1c40f;
    background: #f1c40f;
    opacity: 1;
  }
  55% {
    color: #f1c40f;
    background: #f1c40f;
    opacity: 0.2;
  }
}

@keyframes mist {
    0% {
        background-color: rgba(189, 195, 199, 0.4);
    }

    50% {
        background-color: rgba(189, 195, 199, 0.7);
    }

    100% {
        background-color: rgba(189, 195, 199, 0.9);
    }
}

@media screen and ( max-width: 600px ) {

    main {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
    }

    #switch-temp {
        width: 100px;
    }
}