* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Lato", sans-serif;
    min-width: 320px;
    background: #ecf0f1;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 30px 0;
    padding: 20px 0;
}

p {
    font-size: 1.5em;
    text-align: left;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    min-width: 150px;
    cursor: pointer;
    border: none;
}

button:hover {
    position: relative;
    left: 3px;
}

button:active,
button:focus {
    box-shadow: none;
    outline: none;
}

#online {
    background: #27ae60;
}

#offline {
    background: #c0392b;
}

#all {
    background: #2c3e50;
}

.button-wrapper {
	 width: 100%;
	 max-width: 600px;
	 margin: 0 auto;
     display: flex;
     justify-content: space-between;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin-top: 20px;
    background: #fff;
    border: 3px solid #2c3e50;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

li a {
    display: inline-block;
}

.result-logo a {
    height: 150px;
}

.result-logo img {
    height: 100%;
}

.result-details {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    padding-left: 10px;
}

.result-details span {
    display: inline-block;
    width: 100%;
    padding: 15px
}

.result-title {
    font-size: 1.8em;
}

.offline .result-status {
    display: none;
}

.online-status {
    display: flex;
    align-items: center;
    margin-left: auto;
    align-self: flex-start;
}

.online-status-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.online .online-status-icon {
    background: #27ae60;
}

.offline .online-status-icon {
    background: #c0392b;
}

@media screen and ( max-width: 600px ) {

    main {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
    }

    .button-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    button {
        width: 100%;
    }

    #offline {
        margin: 15px 0;
    }

    li {
        flex-direction: column;
    }

    .result-details {
        padding: 0;
    }

}
